
<div class ="container">

<% if @matches.empty? %>
<div><h2>Sorry, no matches in your area!</h2></div>
<% else %>
  <h2>Matches in your area...</h2>
  <% @matches.each do |match| %>
    <div><a href="/user/<%=match.id%>"><%=match.user_name%></a>- Age<%=match.age%></div><br>
    <% end %>
<% end %>

  <div><a href="/">Home</a></div>
  <div><a href="/user/logout">Logout</a></div>

</div>
