<div class="container">
<%= display_errors %>

<form action="/user/login" method="POST">
  <h3>E-mail:</h3>
  <input name="user[email]" type="text">
  <h3>Username:</h3>
  <input name="user[user_name]" type="text">
  <h3>Password:</h3>
  <input name="user[password]" type="text">
  <input type="submit" value="Login">
</form>

</div>
