<div class="container">
<%= display_errors %>

<form action="/user" method="POST">
  <h3>First Name:</h3>
  <input name="user[first_name]" type="text">
  <h3>Last Name:</h3>
  <input name="user[last_name]" type="text">
  <h3>Gender:</h3>
  <select name="user[gender]">
    <option value="male">male</option>
    <option value="female">female</option>
  </select>
  <h3>I am looking for:</h3>
   <select name="user[looking_for]">
    <option value="male">male</option>
    <option value="female">female</option>
  </select>
  <h3>E-mail:</h3>
  <input name="user[email]" type="text">
  <h3>Username:</h3>
  <input name="user[user_name]" type="text">
  <h3>Password:</h3>
  <input name="user[password]" type="password">
  <h3>Location:</h3>
  <input name="user[location]" type="text">
  <h3>Hair Color:</h3>
  <input name="user[hair_color]" type="text">
  <h3>Eye Color:</h3>
  <input name="user[eye_color]" type="text">
  <h3>Race:</h3>
  <input name="user[race]" type="text">
  <h3>Religion:</h3>
  <input name="user[religion]" type="text">
  <h3>Age:</h3>
  <input name="user[age]" type="text">
  <h3>About:</h3>
  <textarea name="user[about]"></textarea>
  <h3>Photo:</h3>
  <input name="user[photo]" type="text">
  <h3>Height:</h3>
  <input name="user[height]" type="text">
  <h3>Weight:</h3>
  <input name="user[weight]" type="text">

  <select name="std">
     <% Std.all.each do |std|%>
       <option value="<%= std.id%>"><%= std.name%></option>
     <% end %>
 </select>

  <input type="submit" value="Create Profile">
</form>

</div>
